# Always start by importing pandas

In [1]:
import pandas as pd

# Reading the data as a CSV file

In [9]:
bison = pd.read_csv('/Users/britfathi/Downloads/BisonTracking.csv')

# The first seven rows of data

In [10]:
bison.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

# The last 10 rows of data

In [11]:
bison.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

# The number of columns

In [12]:
len(bison.columns)

5

# The number of rows

In [14]:
len(bison)

1107

# There are 633 bison of the species antiquus

In [20]:
bison.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

# For Length, the mean is 7.981, the standard deviation is 0.808, and the median is 8.

In [16]:
bison.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

## Double checking descriptive statistics about Length:

In [22]:
bison.Length.mean()

7.981029810298103

In [23]:
bison.Length.std()

0.8082987436374482

In [21]:
bison.Length.median()

8.0